/*navbar*/
.navbar {
  background-color: #272323;
  width: 100%;
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  width: 50px;
  height: auto;
  margin-left: 30px;
  margin-right: 5px;
  border-radius: 5px;
}

.navbar-left p {
  margin: 4px;
  font-size: 24px;
  display: inline;
}

.navbar-center {
  flex: 1; /* Ocupă spațiul disponibil între stânga și dreapta */
  display: flex;
  justify-content: center;
}

#searchForm {
  display: flex;
  margin-left: 10px;
}

#searchInput {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #9d0909;
  width: 250px;
  margin-right: 5px;
}

#searchButton,
#SignUpButton,
#LogInButton,
#logoutButton,
#favoriteButton,
#submitButton,
#filterButton {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #770202;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

#SignUpButton a,
#LogInButton a {
  padding: 5px 5px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.container {
  max-width: 1000px; /* lățime maximă a containerului pentru a centra conținutul */
  margin: 0 auto; /* centrat în cadrul containerului */
  display: flex; /* folosim flexbox pentru alinierea elementelor în navbar */
  justify-content: space-between; /* aliniere pe orizontală */
  align-items: center; /* aliniere pe verticală */
}

/* general */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px; /* Add padding to account for the fixed navbar */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 40px;
}

.movie-details {
  margin-bottom: 40px;
  margin-left: 180px;
  margin-right: 180px;
}

.poster-container {
  display: flex;
  flex-wrap: wrap;
}

.poster {
  width: 300px;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}

.trailer {
  float: right;
  width: 800px;
  height: auto;
}

.description,
.release-date {
  margin-top: 30px;
}

.rateReview-btn,
.watchlist-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #770202;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rateReview-btn:hover,
.watchlist-btn:hover,
.more-btn:hover {
  background-color: #4a0101;
}

.cast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.actor {
  text-align: center;
  width: 180px;
}

.actor-image {
  width: 90px;
  height: auto;
  border-radius: 5%;
}

.actor-name {
  margin-top: 5px;
  font-size: 14px;
}

.hidden-actors {
  display: none;
}

.hidden-actors.show {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 10px;
}

.more-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #770202;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-end;
}

.critics-reviews-list {
  list-style: circle;
  padding: 5px;
}

.critics-reviews-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

#footer {
  background-color: #272323;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  transition: bottom 0.3;
  line-height: 2px;
}

/* Movie grid container */
.movies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Individual movie */
.movie {
  text-align: center;
}

/* Movie poster */
.movie-poster {
  width: 80%;
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Movie title */
.movie-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

#name,
#surname,
#username,
#email,
#password {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #9d0909;
  width: 250px;
  margin-right: 5px;
}

label {
  display: inline-block;
  width: 100px; /* Adjust the width as needed */
  text-align: right;
  margin-right: 10px; /* Adjust as needed for spacing */
}

#createUser,
#loginButton {
  margin: 15px auto;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #770202;
  color: white;
  border: none;
  cursor: pointer;
  display: block; /* Ensure the buttons are block-level elements */
  width: fit-content; /* Adjust the width to fit the content */
}

#newUserForm,
#loginForm {
  background-color: rgb(53, 53, 53); /* Adjust the color code as needed */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Adjust border radius as needed */
}

.review-dialog {
  background-color: #000000;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: all 0.3s;
}

#review,
#rating {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #9d0909;
}

/*pop up*/
.popup {
  display: none;
  position: absolute;
  top: 60px; /* Position it just below the navbar */
  left: 50%;
  transform: translateX(-50%);
  background-color: #272323;
  border: 2px solid #9d0909;
  border-radius: 5px;
  z-index: 1000;
  padding: 20px;
}

.popup-content {
  width: 300px;
}

.popup-content h3 {
  margin-top: 0;
}

.popup-content ul {
  list-style-type: none;
  padding: 0;
}

.popup-content ul li {
  margin-bottom: 10px;
}

.popup-content ul li a {
  color: #333;
  text-decoration: none;
}

.popup-content ul li a:hover {
  text-decoration: underline;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Filter form */
#formFilter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#formFilter div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#formFilter label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
  color: #fff;
}

#selectGenre,
#runtimeMin,
#runtimeMax,
#ratingMin,
#ratingMax,
#yearMin,
#yearMax {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #9d0909;
  width: 90px;
  margin-right: 10px;
}

#applyFilter {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #770202;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#applyFilter:hover {
  background-color: #4a0101;
}
