<div class="navbar">
    <div class="navbar-left">
        <img src="/logo" alt="Logo FlashFilm">
        <p><a href="/home">FlashFilm</a></p>
    </div>
    <div class="navbar-center">
        <form id="searchForm">
            <input id="searchInput" type="text" placeholder="Search...">
            <button id="searchButton" type="submit" disabled>Search</button>
        </form>
    </div>
    <div class="navbar-right">
        <!-- The content here will be dynamically updated by the JavaScript code -->
    </div>
</div>

<footer>
    <div id="footer">
        <p>© 2024 FlashFilm. All rights reserved.</p>
    </div>
</footer>

<%- body %>