<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
</head>

<div class="navbar">
    <div class="navbar-left">
        <img src="/logo" alt="Logo FlashFilm">
        <p> <a href="/home">FlashFilm</a></p>
        <button id="filterButton" >Filter</button>

    </div>
    <div class="navbar-center">
        
            <form id="searchForm">
                
                <input id="searchInput" type="text" placeholder="Search...">
                <button id="searchButton" type="submit" disabled>Search</button>
            </form>
     
    </div>
    <div class="navbar-right">
        <button id="SignUpButton" type="submit" disabled><a href="/newuser">Sign Up</a></button>
        <button id="LogInButton" type="submit" disabled><a href="/newuser">Log In</a></button>
    </div>

</div>

<footer>
    <div id="footer">
        <p>© 2024 FlashFilm. All rights reserved.</p>
    </div>
</footer>

<div id="filterPopup" class="popup">
    <div class="popup-content">
        <a href="#" class="close">&times;</a>
        <h3>Select Filter:</h3>
        <form id="formFilter">
            <div id="genres"> Genres :
                <select id="selectGenre"> 
                    <option selected >None</option>
                    <option id="28">Action</option>
                    <option id="27">Horror</option>
                    <option id="53">Thriller</option>
                    <option id="35">Comedy</option>
                    <option id="10749">Romance</option>
                    <option id="12">Adventure</option>
                    <option id="16">Animation</option>
                    <option id="18">Drama</option>
                    <option id="80">Crime</option>
                    <option id="99">Documentary</option>
                    <option id="10751">Family</option>
                    <option id="14">Fantasy</option>
                    <option id="36">History</option>
                    <option id="10402">Music</option>
                    <option id="9648">Mystery</option>
                    <option id="878">Science fiction</option>
                    <option id="10770">TV Movie</option>
                    <option id="10752">War</option>
                    <option id="37">Western</option>
                    
                </select>
            </div>

            <div>Runtime:
                <input id="runtimeMin" placeholder="Min Length">
                <input id="runtimeMax" placeholder="Max Length">
            </div>  

            <div>Rating:
                    <input id="ratingMin" placeholder="Min Rating">
                    <input id="ratingMax" placeholder="Max Rating">
                </div>

                <div>Release Year:
                    <input id="yearMin" placeholder="From Year">
                    <input id="yearMax" placeholder="To Year">
                </div>

        
    
        <button type="submit" id="applyFilter">Apply</button>
    </form>
    </div>
</div>



<%- body%>
    </body>

</html>